body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 110vh;
	margin: 0;
	padding: 0;
	background: rgb(0, 0, 0);
}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: right;
	color: rgb(255, 255, 255);
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 60px;
}

.units {
	font-size: 30px;
}